@model IEnumerable<CreativeBox.Domain.Entity.AddressEntity>
@{
    ViewBag.Title = "Index";
}

<link href="/Content/css/table-style.mini.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="w100 m10 mtb10">
        <div class="w100 panel list" id="dvList">
            <div class="w100 panel-heading d-flex justify-content-between align-items-center">
                <h4><label>List of Address</label></h4>
                <div class="w50 d-flex justify-content-between">
                    <div class="w33">
                        <input type="text" id="txtSearch" onkeyup="FreeSearch('tblAddress');" class="form-control serchbox" placeholder="Search for Address.." style="padding-left: 10px;">
                    </div>
                    <div class="w33">
                        <button type="button" class="btn btn-primary" id="btnAddAddress" onclick="return AddressDetailPartial('0');">
                            <i class="fa fa-plus-circle fa-lg">
                            </i> Add Address
                        </button>
                    </div>
                    <div class="w33">
                        <button type="button" class="btn btn-info" id="btnExport" value="Export To Excel" onclick="return ExportToExcel('tblAddress');">
                            <img src="/Content/images/xls-excel.png"> Export To Excel
                        </button>
                    </div>
                </div>
            </div>
            <div class="panel-body  w100">
                <table id="tblAddress">
                    <thead>
                        <tr>
                            <th class="tableTR" id="thCompanyName">
                                Company Name
                            </th>
                            <th class="tableTR" id="thContactName">
                                Contact name
                            </th>
                            <th class="tableTR" id="thPhone">
                                Phone
                            </th>
                            <th class="tableTR" id="thPostCode">
                                Post Code
                            </th>
                            <th class="tableTR" id="thCity">City</th>
                            <th class="tableTR" id="thState">State</th>
                            <th class="tableTR" id="thCountry">Country</th>
                            <th class="tableTR" id="thAction">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var objItems in Model)
                            {
                                <tr>
                                    <td class="content">@objItems.Company</td>
                                    <td class="content">@objItems.ContactName</td>
                                    <td class="content">@objItems.Phone</td>
                                    <td class="content">@objItems.ZipCode</td>
                                    <td class="content">@objItems.City</td>
                                    <td class="content">@objItems.State</td>
                                    <td class="content">@objItems.Country</td>
                                    <td class="content">
                                        <a href="javascript:;" onclick="return AddressDetailPartial('@objItems.AddressId');">
                                            <img src="../Content/images/edit.png" title="Edit" />
                                        </a>
                                        <a href="javascript:;" onclick="return deleteAddress('@objItems.AddressId');">
                                            <img src="../Content/images/delete.png" title="Delete" />
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>

                </table>
            </div>
        </div>

        <div class="w100 form m10 mtb10" id="dvAdd">
            <div class="panel w100">
                <div class="modal-dialog modal-lg" id="dvAddressDetailPartial">
                </div>
            </div>
        </div>
    </div>    
</div>

<script type="text/javascript">
    function HidePopup() {
        $("#dvAdd").hide();
        $("#dvList").show();
    }

    function AddressDetailPartial(val) {
        $("#divLoading").show();
        $.ajax({
            type: "GET",
            url: '/Order/AddressDetailPartial',
            cache: false,
            contentType: "application/html; charset=UTF-8;",
            dataType: "html",
            data: { Addressid: val },
            success: function (partialView) {
                $("#divLoading").hide();
                $('#dvAddressDetailPartial').html(partialView);
                $("#dvAdd").hide();
                $("#dvList").show();
                if (val != '0') {
                    $("#spnHeader").text('Edit Address');
                    $("#btnsubmit").text('Update');
                }
                else {
                    $("#spnHeader").text('Add Address');
                    $("#btnsubmit").text('Save');
                }
            },
            error: function (partialView) {
                $("#divLoading").hide();
                $('#dvAddressDetailPartial').html(partialView);
                $("#dvAdd").hide();
                $("#dvList").show();
            }
        });
    }

    function CheckValidation() {
        var countVal = 0;
        var Company = $('#Company').val();
        var ContactName = $('#ContactName').val();
        var Phone = $('#Phone').val();
        var City = $('#City').val();
        var State = $('#State').val();
        var Country = $('#Country').val();

        if (Company == "") {
            toastr.error("Company is Required!");
            document.getElementById('Company').focus();
            countVal++;
        }
        else if (Phone == "") {
            toastr.error("Phone is Required!");
            document.getElementById('Phone').focus();
            countVal++;
        }
        else if (City == "") {
            toastr.error("City is Required!");
            document.getElementById('City').focus();
            countVal++;
        }
        else if (State == "") {
            toastr.error("State is Required!");
            document.getElementById('State').focus();
            countVal++;
        }
        else if (Country == "") {
            toastr.error("Country is Required!");
            document.getElementById('Country').focus();
            countVal++;
        }
        else if (ContactName == "") {
            toastr.error("Contact Name is Required!");
            document.getElementById('ContactName').focus();
            countVal++;
        }

        if (countVal != 0) {
            return false;
        }
        else {
            return true;
        }
    }

    function SaveData() {
        flag = CheckValidation();
        if (flag == true) {

            var isActive = false;
            if ($("#IsActive option:selected").val() === "1") {
                isActive = true;
            }

            var UNI = new Object();
            UNI.AddressId = $('#AddressId').val();
            UNI.Company = $('#Company').val();
            UNI.ContactName = $('#ContactName').val();
            UNI.AddressLine1 = $('#AddressLine1').val();
            UNI.State = $('#State').val();
            UNI.City = $('#City').val();
            UNI.AddressLine2 = $('#AddressLine2').val();
            UNI.ZipCode = $('#ZipCode').val();
            UNI.Country = $('#Country').val();
            UNI.Phone = $('#Phone').val();
            UNI.IsActive = isActive;
            UNI.IsDeleted = false;

            $("#divLoading").show();
            $.ajax({
                type: 'POST',
                url: '/Order/OperationAddress',
                data: JSON.stringify(UNI),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (response) {
                    if (response.success == true) {
                        location.reload();
                        //toastr.success(response.responseText);
                        toastr.success("Saved Successfully");
                    }
                    else {
                        toastr.error(response.responseText);
                    }
                    $("#divLoading").hide();
                },
                error: function (response) {
                    $("#divLoading").hide();
                    toastr.success(response.responseText);
                }
            });
        }
    }

    function deleteAddress(val) {
        $("#divLoading").show();
        var confirmation = confirm("Are you sure you want to Delete?");
        if (confirmation) {
            var UNI = new Object();
            UNI.AddressId = val;
            $("#divLoading").show();
            $.ajax({
                type: "POST",
                url: '/Order/DeleteAddress',
                cache: false,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                data: JSON.stringify(UNI),
                success: function (response) {
                    if (response.success == true) {
                        location.reload();
                        toastr.success(response.responseText);
                    }
                    else {
                        toastr.error(response.responseText);
                    }
                    $("#divLoading").hide();
                },
                error: function (response) {
                    $("#divLoading").hide();
                    toastr.success(response.responseText);
                }
            });
        }
        $("#divLoading").hide();
    }

    function FreeSearch(val) {
        // Declare variables
        var input, filter, table, tr, td0, td1, td2, td3, td4, td5, td6, td7, td8, td9, i;
        input = document.getElementById("txtSearch");
        filter = input.value.toUpperCase();
        table = document.getElementById(val);
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td0 = tr[i].getElementsByTagName("td")[0];
            var IsFound = false;
            if (td0 && IsFound == false) {
                if (td0.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                    IsFound = true;
                } else {
                    tr[i].style.display = "none";
                }
            }

            td1 = tr[i].getElementsByTagName("td")[1];
            if (td1 && IsFound == false) {
                if (td1.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                    IsFound = true;
                } else {
                    tr[i].style.display = "none";
                }
            }

            td2 = tr[i].getElementsByTagName("td")[2];
            if (td2 && IsFound == false) {
                if (td2.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                    IsFound = true;
                } else {
                    tr[i].style.display = "none";
                }
            }

            td3 = tr[i].getElementsByTagName("td")[3];
            if (td3 && IsFound == false) {
                if (td3.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                    IsFound = true;
                } else {
                    tr[i].style.display = "none";
                }
            }

            td4 = tr[i].getElementsByTagName("td")[4];
            if (td4 && IsFound == false) {
                if (td4.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                    IsFound = true;
                } else {
                    tr[i].style.display = "none";
                }
            }

            td5 = tr[i].getElementsByTagName("td")[5];
            if (td5 && IsFound == false) {
                if (td5.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                    IsFound = true;
                } else {
                    tr[i].style.display = "none";
                }
            }

            td6 = tr[i].getElementsByTagName("td")[6];
            if (td6 && IsFound == false) {
                if (td6.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                    IsFound = true;
                } else {
                    tr[i].style.display = "none";
                }
            }

            td7 = tr[i].getElementsByTagName("td")[7];
            if (td7 && IsFound == false) {
                if (td7.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                    IsFound = true;
                } else {
                    tr[i].style.display = "none";
                }
            }

            td8 = tr[i].getElementsByTagName("td")[8];
            if (td8 && IsFound == false) {
                if (td8.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                    IsFound = true;
                } else {
                    tr[i].style.display = "none";
                }
            }

            td9 = tr[i].getElementsByTagName("td")[8];
            if (td9 && IsFound == false) {
                if (td9.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                    IsFound = true;
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    function ExportToExcel(Id) {
        var tab_text = "<table border='2px'><tr>";
        var textRange;
        var j = 0;
        var sa;
        tab = document.getElementById(Id);
        var headerRow = $('[id*=' + Id + '] tr:first');
        tab_text += headerRow.html() + '</tr><tr>';
        var rows = $('[id*=' + Id + '] tr:not(:has(th))');
        for (j = 0; j < rows.length; j++) {
            if ($(rows[j]).css('display') != 'none') {

                tab_text = tab_text + rows[j].innerHTML + "</tr>";
            }
        }
        tab_text = tab_text + "</table>";
        tab_text = tab_text.replace(/<A[^>]*>|<\/A>/g, ""); //remove if u want links in your table
        tab_text = tab_text.replace(/<img[^>]*>/gi, ""); // remove if u want images in your table
        tab_text = tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // reomves input params
        var ua = window.navigator.userAgent;
        var msie = ua.indexOf("MSIE ");
        if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))      // If Internet Explorer
        {
            txtArea1.document.open("txt/html", "replace");
            txtArea1.document.write(tab_text);
            txtArea1.document.close();
            txtArea1.focus();
            sa = txtArea1.document.execCommand("SaveAs", true, "Test" + ".xlsx");
        }
        else {                 //other browser not tested on IE 11
            //download(tab_text, 'GSTR1Summary.xls', 'data:application/vnd.ms-excel');
            name = 'AddressList' + '.xls';
            var a = document.createElement("a");
            var file = new Blob([tab_text], { type: "Address List" });
            a.href = URL.createObjectURL(file);
            a.download = name;
            a.click();
        }

        return (sa);
    }

</script>


<style type="text/css">
    #thCompanyName:hover, #thContactName:hover, #thPhone:hover, #thPostCode:hover, #thCity:hover, #thState:hover, #thCountry:hover {
        cursor: pointer;
    }
</style>
<script>
    function sortTable(f, n) {
        var rows = $('#tblAddress tbody  tr').get();

        rows.sort(function (a, b) {

            var A = getVal(a);
            var B = getVal(b);

            if (A < B) {
                return -1 * f;
            }
            if (A > B) {
                return 1 * f;
            }
            return 0;
        });

        function getVal(elm) {
            var v = $(elm).children('td').eq(n).text().toUpperCase();
            if ($.isNumeric(v)) {
                v = parseInt(v, 10);
            }
            return v;
        }

        $.each(rows, function (index, row) {
            $('#tblAddress').children('tbody').append(row);
        });
    }

    var f_sl = 1;
    var f_nm = 1;
    $("#thCompanyName").click(function () {
        f_sl *= -1;
        var n = $(this).prevAll().length;
        sortTable(f_sl, n);
    });
    $("#thContactName").click(function () {
        f_nm *= -1;
        var n = $(this).prevAll().length;
        sortTable(f_nm, n);
    });
    $("#thPhone").click(function () {
        f_nm *= -1;
        var n = $(this).prevAll().length;
        sortTable(f_nm, n);
    });
    $("#thPostCode").click(function () {
        f_nm *= -1;
        var n = $(this).prevAll().length;
        sortTable(f_nm, n);
    });
    $("#thCity").click(function () {
        f_nm *= -1;
        var n = $(this).prevAll().length;
        sortTable(f_nm, n);
    });
    $("#thState").click(function () {
        f_nm *= -1;
        var n = $(this).prevAll().length;
        sortTable(f_nm, n);
    });
    $("#thCountry").click(function () {
        f_nm *= -1;
        var n = $(this).prevAll().length;
        sortTable(f_nm, n);
    });
</script>
